<h3>This is urls/show</h3>
   <p><%= @url.long_url %></p>
   <p><%= @url.short_url %></p>
   <%= link_to 'Back', urls_path %>
   <!-- The last line links us back to the index page. Instead of using href here, we can use the link_to helper. The pathname urls_path was obtained from the prefix of the index action when we run bundle exec rails routes. We just need to add _path behind the prefix to get the right route. Alternatively, you could write <%= link_to 'Back', controller: :urls, action: :index %> to bring you back to the index page. To find out other usages of the link_to helper -->
